﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang Quản Trị</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="Front-End/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="Front-End/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="Front-End/assets/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link href="Front-End/assets/css/_all-skins.min.css" rel="stylesheet" />
    <link href="Front-End/assets/css/toastr.min.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="myapp">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>K</b>TX</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>KTX BACH KHOA</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu" ng-controller="HomeCtrl">
                    <ul class="nav navbar-nav">
                        <!-- Control Sidebar Toggle Button -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">Xin chào {{FullName}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat" ng-click="Profile()">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="http://localhost:53823/login.html" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>

                    <li><a ui-sref="listDepartment"><i class="fa fa-hospital-o"></i> <span>Khoa / Phòng</span></a></li>

                    <li ng-controller="HomeCtrl" ng-show="RoleId=='0'"><a ui-sref="listUser"><i class="fa fa-users"></i> <span>Nhân Viên</span></a></li>

                    <li><a ui-sref="listProvider"><i class="fa fa-ambulance"></i> <span>Nhà Cung Cấp</span></a></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-fire-extinguisher"></i>
                            <span>Thiết Bị</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="listDevice"><i class="fa fa-list-alt"></i> Danh sách thiết bị</a></li>
                            <li><a ui-sref="listDeviceType"><i class="fa fa-sliders"></i> Loại thiết bị</a></li>
                        </ul>
                    </li>

                    <li><a ui-sref="listAccessory"><i class="fa fa-cubes"></i> <span>Vật tư</span></a></li>

                    <li class="treeview" ng-controller="HomeCtrl" ng-show="DepartmentId==14">
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>Báo cáo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="listSchedule"><i class="fa fa-eyedropper"></i> Thiết bị hỏng</a></li>
                            <li><a ui-sref="listHistory"><i class="fa fa-calendar-check-o"></i> Lịch sửa chữa</a></li>
                            <li><a ui-sref="listDeviceStatus"><i class="fa fa-caret-square-o-up"></i> Xem trạng thái thiết bị</a></li>
                        </ul>
                    </li>

                    <li class="header">LABELS</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <section class="content">

                <div ui-view></div>

            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.13
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
            reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="Front-End/assets/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="Front-End/assets/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="Front-End/assets/js/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="Front-End/assets/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="Front-End/assets/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="Front-End/assets/js/demo.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree();
        })</script>

    <!-- Angular Library-->
    <script src="Front-End/assets/js/angular.min.js"></script>
    <script src="Front-End/assets/js/angular-ui-router.js"></script>
    <script src="Front-End/assets/js/angular-toastr.tpls.js"></script>
    <script src="Front-End/assets/js/bootbox.js"></script>
    <script src="Front-End/assets/js/ngBootbox.js"></script>
    <script src="Front-End/assets/js/ckeditor.js"></script>
    <script src="Front-End/assets/js/ng-ckeditor.js"></script>
    <script src="Front-End/assets/js/ui-bootstrap-tpls.js"></script>
    <!--<script data-require="angular-touch@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="2.5.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>-->
    <!-- App -->
    <script src="Front-End/app-data/app.js"></script>
    <script src="Front-End/app-data/components/config/config-route.js"></script>

    <script src="Front-End/app-data/views/home/home.js"></script>
    <script src="Front-End/app-data/views/home/profile.js"></script>

    <!-- Controller-->
    <script src="Front-End/app-data/views/device/device.js"></script>
    <script src="Front-End/app-data/views/device/device-modal.js"></script>
    <script src="Front-End/app-data/views/device/device-notification.js"></script>

    <script src="Front-End/app-data/views/department/department.js"></script>
    <script src="Front-End/app-data/views/department/department-modal.js"></script>

    <script src="Front-End/app-data/views/provider/provider.js"></script>
    <script src="Front-End/app-data/views/provider/provider-modal.js"></script>

    <script src="Front-End/app-data/views/device-type/device-type.js"></script>
    <script src="Front-End/app-data/views/device-type/device-type-modal.js"></script>

    <script src="Front-End/app-data/views/accessory/accessory.js"></script>
    <script src="Front-End/app-data/views/accessory/accessory-modal.js"></script>

    <script src="Front-End/app-data/views/user/user.js"></script>
    <script src="Front-End/app-data/views/user/user-modal.js"></script>

    <script src="Front-End/app-data/views/maintain-schedule/device-schedule.js"></script>
    <script src="Front-End/app-data/views/maintain-schedule/new-schedule.js"></script>
    <script src="Front-End/app-data/views/maintain-history/device-status.js"></script>
    <script src="Front-End/app-data/views/maintain-history/device-status-info.js"></script>

    <script src="Front-End/app-data/views/maintain-history/maintain-history.js"></script>
    <!-- Service-->
    <script src="Front-End/app-data/components/services/service-api.js"></script>
</body>
</html>
